<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/public/styles/styles.css" />
    <title>Gallery Photos</title>
  </head>
  <body>
    <nav class="nav-bar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About Rupaul</a></li>
      </ul>
    </nav>
    <section>
      <div class="card" style="width: 18rem;">
        <img src="/public/images/Season6.jpg" class="card-img-top" alt="Season 6" />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/public/images/Season9.png" class="card-img-top" alt="Season 9" />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/public/images/Season10.jpg" class="card-img-top" alt="Season 10" />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
